<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse center-nav p-2">
      <ul class="navbar-nav">
        .
      </ul>
    </div>
  </div>
</nav>

<div class="form-signin text-center mt-5">
  <div class="form">
    <h1 class="h1 mb-3 fw-bold">Sign Up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-floating">
        <div class="fw-bold py-2"><%= f.label :email %><br/></div>
        <div class="py-2"><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control' %></div>
      </div>

      <div class="field form-floating">
        <div class="fw-bold py-2"><%= f.label :password %></div>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <div class="py-2"><%= f.password_field :password, autocomplete: "new-password", :class => 'form-control' %></div>
      </div>

      <div class="field form-floating">
        <div class="fw-bold py-2"><%= f.label :password_confirmation %><br/></div>
        <div class="py-2"><%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control' %></div>
      </div>

      <button class="actions w-100 my-3 btn btn-primary">
        <%= f.submit "Sign Up", :class => 'btn' %>
      </button>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
