<div class="mb-5"><%= render "positions/header" %></div>
<h1 class="display-5 text-center m-3">Candidate Details</h1>

<div class="mx-auto">
  <div class="card mx-5 my-3 p-2">
    <div class="card-body">

      <% if @candidate.picture.attached? %>
        <div class="text-center"><%= image_tag @candidate.picture, width: "10%", height: "10%" %></div>
      <% end %>

      <h1 class="card-title text-center"><%= @candidate.name %></h1>

      <div class="card text-center p-2 candidate-info">
        <div class="card-body">
          <h3 class="card-text"><strong>Email: </strong><%= @candidate.email %></h3>
          <h3 class="card-text"><strong>Phone Number: </strong><%= @candidate.phone_number %></h3>
          <h3 class="card-text"><strong>University: </strong><%= @candidate.university %></h3>
          <h3 class="card-text"><strong>GPA: </strong><%= @candidate.gpa %></h3>
          <h3 class="card-text"><strong>Status: </strong><%= @candidate.status %></h3>
          <h3 class="card-text text-start"><strong>Bio: </strong><%= @candidate.bio %></h3>
        </div>
      </div>

      <div class="container add-border p-5">
        <div class="row">
          <div class="col-3">
            <% if @candidate.cv.attached? %>
              <%= image_tag @candidate.cv, width: "100%", height: "100%", :class => "add-border" %>
              <%= link_to 'View CV', rails_blob_path(@candidate.cv, disposition: "preview", :class => "link-alt") %>
            <% end %>
          </div>
          <div class="col-9">
            <% if @candidate.docs.attached? %>
              <div>
                <% @candidate.docs.each do |doc| %>
                  <%= image_tag doc, :class => "add-border" %>
                  <%= link_to 'View Doc', rails_blob_path(doc, disposition: "preview", :class => "link-alt") %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <br>
      <div class="text-center my-3">
        <%= link_to "Edit Candidate", edit_position_candidate_path(@position.id, @candidate.id), :class => "link-alt" %>
        <%= link_to "Delete Candidate", [@position, @candidate], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, :class => "link-alt" %>
      </div>
    </div>
  </div>
</div>